body{
  background-image: url(IMG_2408.PNG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  color: #ffffff;
  font-family:"Impact" sans-serif;
  font-weight: bolder;
}

h2{
  color: #ffffff;
  font-family:"Impact" sans-serif;
  font-weight: bolder;
}

h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: gold;
}

h4{
  color: #0c9ad2;
  font-family:"" sans-serif;
  font-weight: bolder;
}

h5{
  color: #ffffff;
  font-family:"" sans-serif;
  font-weight:500;
}

h6{
  color: #ff5500;
  font-family:"" sans-serif;
  font-weight:900;
}

p{
  color: #ffffff;
}

li{
  color: #ffffff;
}

.back{
  background-image: url(IMG_2408.PNG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.rs{
  font-weight: bolder;
  color: gold;
}